@using hefesto.admin.Models

@model AdmProfile

@{
    ViewData["Title"] = "Edit";
}

<!-- =================================================================================== -->

<form id="formEditAdmProfile" style="padding: 5px;" asp-action="Save" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />

    <div class="card">
        <div class="card-header"
             style="font-weight: bold;font-size: large;">
            @ViewData["editAdmProfile.title"]
        </div>
        <div class="card-body">
            <div class="form-actions">
                <button type="submit" class="btn btn-success" id="btnSave">
                    <span class="icon text-white-50">
                        <i class="fa fa-check-circle"></i>
                    </span>
                    <span class="text">@ViewData["button.save"]</span>
                </button>

                <button type="reset" class="btn btn-light" id="btnReset">
                    <span class="icon text-gray-600">
                        <i class="fa fa-eraser"></i>
                    </span>
                    <span class="text">@ViewData["button.reset"]</span>
                </button>

                <button type="button" class="btn btn-primary" id="btnCancel">
                    <span class="icon text-white-50">
                        <i class="fa fa-times-circle"></i>
                    </span>
                    <span class="text">@ViewData["button.cancel"]</span>
                </button>
            </div>
            <div class="row">
                <div class="col-md-4 form-group mb-2">
                    <input type="hidden" id="admProfile_id" value="@Model.Id" />

                    <label asp-for="Description">@ViewData["editAdmProfile.description"]</label>
                    <input type="text" class="form-control" asp-for="Description" maxlength="64" required="required" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 form-group mb-2">
                    <label for="pickListUsers">@ViewData["editAdmProfile.pickListUsers"]</label>
                    <div class="row ms-1">
                        <div class="col-md-5">
                            <div class="row">
                                <input type="text" class="form-control" id="edtSource_pickListUsers" maxlength="20" />
                                <input class="form-control" type="text" placeholder="@ViewData["editAdmProfile.sourceCaptionUsers"]" disabled>
                            </div>
                            <div class="row">
                                <select id="bufferSource_pickListUsers" class="form-select" style="display: none">
                                    @foreach (var itemUser in (IEnumerable<AdmUser>)@ViewData["listSourceAdmUsers"])
                                    {
                                        <option value="@itemUser.Id">@itemUser.Name</option>
                                    }
                                </select>
                                <select id="source_pickListUsers" class="form-select" size="10" multiple>
                                    @foreach (var itemUser in (IEnumerable<AdmUser>)@ViewData["listSourceAdmUsers"])
                                    {
                                        <option value="@itemUser.Id">@itemUser.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1 d-flex justify-content-center align-items-center">
                            <div class="btn-group-vertical btn-group-sm">
                                <button type="button" class="btn btn-primary" id="btnRight_pickListUsers">
                                    <span class="icon text-white-50"><i class="fa fa-angle-right"></i></span>
                                </button>
                                <button type="button" class="btn btn-primary" id="btnAllRight_pickListUsers">
                                    <span class="icon text-white-50"><i class="fa fa-angle-double-right"></i></span>
                                </button>
                                <button type="button" class="btn btn-primary" id="btnLeft_pickListUsers">
                                    <span class="icon text-white-50"><i class="fa fa-angle-left"></i></span>
                                </button>
                                <button type="button" class="btn btn-primary" id="btnAllLeft_pickListUsers">
                                    <span class="icon text-white-50"><i class="fa fa-angle-double-left"></i></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <input type="text" class="form-control" id="edtTarget_pickListUsers" maxlength="20" />
                                <input class="form-control" type="text" placeholder="@ViewData["editAdmProfile.targetCaptionUsers"]" disabled>
                            </div>
                            <div class="row">
                                <select id="bufferTarget_pickListUsers" class="form-select" style="display: none">
                                    @foreach (var user in (IEnumerable<AdmUser>)@ViewData["listTargetAdmUsers"])
                                    {
                                        <option value="@user.Id">@user.Name</option>
                                    }
                                </select>
                                <select asp-for="AdmUsers" id="target_pickListUsers" class="form-select" size="10" multiple>
                                    @foreach (var user in (IEnumerable<AdmUser>)@ViewData["listTargetAdmUsers"])
                                    {
                                        <option value="@user.Id">@user.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 form-group mb-2">
                    <label for="pickListPages">@ViewData["editAdmProfile.pickListPages"]</label>
                    <div class="row ms-1">
                        <div class="col-md-5">
                            <div class="row">
                                <input type="text" class="form-control" id="edtSource_pickListPages" maxlength="20" />
                                <input class="form-control" type="text" placeholder="@ViewData["editAdmProfile.sourceCaptionPages"]" disabled>
                            </div>
                            <div class="row">
                                <select id="bufferSource_pickListPages" class="form-select" style="display: none">
                                    @foreach (var itemPage in (IEnumerable<AdmPage>)@ViewData["listSourceAdmPages"])
                                    {
                                        <option value="@itemPage.Id">@itemPage.Description</option>
                                    }
                                </select>
                                <select id="source_pickListPages" class="form-select" size="10" multiple>
                                    @foreach (var itemPage in (IEnumerable<AdmPage>)@ViewData["listSourceAdmPages"])
                                    {
                                        <option value="@itemPage.Id">@itemPage.Description</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1 d-flex justify-content-center align-items-center">
                            <div class="btn-group-vertical btn-group-sm">
                                <button type="button" class="btn btn-primary" id="btnRight_pickListPages">
                                    <span class="icon text-white-50"><i class="fa fa-angle-right"></i></span>
                                </button>
                                <button type="button" class="btn btn-primary" id="btnAllRight_pickListPages">
                                    <span class="icon text-white-50"><i class="fa fa-angle-double-right"></i></span>
                                </button>
                                <button type="button" class="btn btn-primary" id="btnLeft_pickListPages">
                                    <span class="icon text-white-50"><i class="fa fa-angle-left"></i></span>
                                </button>
                                <button type="button" class="btn btn-primary" id="btnAllLeft_pickListPages">
                                    <span class="icon text-white-50"><i class="fa fa-angle-double-left"></i></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <input type="text" class="form-control" id="edtTarget_pickListPages" maxlength="20" />
                                <input class="form-control" type="text" th:placeholder="@ViewData["editAdmProfile.targetCaptionPages"]" disabled>
                            </div>
                            <div class="row">
                                <select id="bufferTarget_pickListPages" class="form-select" style="display: none">
                                    @foreach (var itemPage in (IEnumerable<AdmPage>)@ViewData["listTargetAdmPages"])
                                    {
                                        <option value="@itemPage.Id">@itemPage.Description</option>
                                    }
                                </select>
                                <select asp-for="AdmPages" id="target_pickListPages" class="form-select" size="10" multiple>
                                    @foreach (var itemPage in (IEnumerable<AdmPage>)@ViewData["listTargetAdmPages"])
                                    {
                                        <option value="@itemPage.Id">@itemPage.Description</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <br>
    <br>
</form>

<script src="~/static/js/admin/admProfile/editAdmProfile.js"></script>

<!-- =================================================================================== -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
